<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Quoth</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <p>Hello, {{user.name}}!</p>
          <p><a href="/logout">LogOut</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
